apiVersion: v2
name: backstage
description: Helm chart for Backstage. Backstage is an open platform for building developer portals.
type: application
version: 0.10.11
appVersion: main
keywords:
  - backstage
home: https://backstage.io
icon: https://backstage.io/img/twitter-summary.png
sources:
  - https://github.com/backstage/backstage
  - https://github.com/mcwarman/backstage-sample-app
  - https://github.com/mcwarman/helm-charts
maintainers:
  - name: mcwarman
    email: mcwarman@gmail.com
dependencies:
  - name: postgresql
    version: 18.1.10
    repository: https://charts.bitnami.com/bitnami/
    condition: postgresql.enabled
